
.botoncustom{

	box-shadow: 10px 8px 16px -5px rgba(0,0,0,0.75);
	    background: linear-gradient(to bottom, rgb(187, 187, 187) 0%, rgb(255, 255, 255) 100%);
}
.contactjumbtron{
	padding: 3%;
}

.botoncustom:hover{
	box-shadow: 10px 8px 16px -5px rgba(0,0,0,0.75);
	    background:#787878;
}
#contactotitle{
    color: #F4F4F2;
    font-size: -webkit-xxx-large;
    font-family: sans-serif;
    border-color: bisque;
}
