

  <div class="container">
    <div class=" jumbotron ">
      <img class="avatarimage img-circle"src="images/avatar.jpg" ><br>
      <h2>Agustin De Luca</h2>
      <hr>
      <p>Como joven estudiante de Licenciatura en Sistema, busco desarrollarme profesional y personalmente en el área de mi interés.  Pretendo integrar equipos de trabajo donde pueda aplicar mis conocimientos y adquirir nuevos. Soy honesto, puntual y responsable, con disponibilidad al trabajo creando un entorno ameno para dicho fin.</p>
    </div>
  </div>

